* {
  margin: 0px;
  padding: 0px;
}
i{
  margin-right: 10px;
}
.navbar {
  padding: 25px;
  background-color: rgb(207, 205, 245);
}
.logo {
  color: black;
  text-decoration: none;
}
.container {
  margin: 25px;
}
.flat-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flat-card {
  max-width: 400px;
  margin-top: 25px;
  margin-right: 25px;
  border: 1px solid black;
  background-color: #f8f9fa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.442);
}
.flat-details {
  padding: 10px 20px;
}
.flat-stay-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-text {
  display: flex;
  align-items: center;
}
.flat-additional-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
}
.text {
  text-decoration: none;
}
.page-body {
  margin: 25px;
}
.form-body {
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: rgb(237, 236, 236);
  border-radius: 15px;
}
.flat-show-card {
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: #f8f9fa;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.442);
}
